Repository DeveLawyer/bsale_ui_base: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ignore-path .gitignore --fix --cache, stylelint --ignore-path .gitignore --fix, prettier --ignore-path .gitignore --write

.lintstagedrc.json:

{
  "*.{js,svelte}": "eslint --ignore-path .gitignore --fix --cache",
  "*.scss": "stylelint --ignore-path .gitignore --fix",
  "*.{js,svelte,css,scss,html,json,md}": "prettier --ignore-path .gitignore --write"
}

Testing lint staged
  src/lib/text-field/TextField.svelte
Due: eslint --ignore-path .gitignore --fix --cache, prettier --ignore-path .gitignore --write

Test2
  src/lib/text-field/TextField.svelte
Due: eslint --ignore-path .gitignore --fix --cache, prettier --ignore-path .gitignore --write

Change eslint cache dir
  .lintstagedrc.json
Due: prettier --ignore-path .gitignore --write

scss syntax
  .lintstagedrc.json
Due: prettier --ignore-path .gitignore --write

Add env.example
  .env.example
Due: none
